.allall
  .allall__mini
    .header-furima
      .h1
        = link_to  root_path, class: "title-logo" do
          = image_tag("logo/logo.png", alt: "FURIMA", width: "140")
  .bigbigall
    .bigbigall__in
      .bigbigall__in--first 購入内容の確認
      .big-second
        .big-second__in
          .big-second__in--in
            .big-second__in--in--leftbox
              = image_tag get_thumbnail(@good), class: "h"
            .big-second__in-in--rightbox
              %p.big-second__in--in--rightbox--top
                = @good.name
      %section.bigbigcontents
        .bigbigcontents__in
          %form
            %ul.big-third
              %li.big-third__in
                .big-third__in--left  支払い金額
                .big-third__in--right
                  %span{data: @good.price }¥ #{@good.price}
                  .big-third__in--right__fee
                    (税込)
                  .big-third__in--right__fee
                    = @good.derivery_cost.name
            %ul.buyPointbox
              %li.buyPointbox__in
                .buyPointbox__inin
                  %i.fas.fa-check-square
                  %i.iconicon 
                  %label ポイントを使用 (所持ポイント: P0)
            %section.pay-method{data: 'pay-method'}
              .pay-method__in
                %h3{style: "font-weight: bold; "} 支払い方法
                %a.pay-method__in--link{href: "#" }
                  %p.pay-method__in--infotext
                    %i.fas.fa-plus-circle
                    %span.pay-method-in__register 登録してください
                    = link_to  root_path, class: "title-logo"
            %section.userInfo
              .userInfo__in
                .userInfo__in--top
                  %h3.userInfo__in--top-left 配送先
                  %a{ href: "#" }
                    %span.userInfo__in--top-right 変更する
                %address.userInfo__in--address 
                  %p 
                  〒 #{current_user.address.zipcode}
                  %br 
                  = current_user.address.prefecture.name
                  = current_user.address.city
                  = current_user.address.house_number
                  - if current_user.address.apartment_name
                    = current_user.address.apartment_name
                  %br 
                  = current_user.address.destination_family_name
                  = current_user.address.destination_first_name
                %section.buybuycontents
                  = link_to "購入する", good_deals_path(@good.id), method: :post, class: "buybuycontents__btn"
  .footerall
    .footerall__in
      %a.footerrogo-bottom{href: "/jp/"}
        = link_to  root_path, class: "title-logo" do
          = image_tag("logo/logo-white.png", alt: "FURIMA", width: "140")
      %p.footer-bottom © FURIMA