%header.user_registration__header
  %h1.user_registration__header__logo
    = link_to "#" do
      = image_tag "logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"
%main.user_registration__main
  .user_registration__main__form
    .user_registration__main__form__title--login
      アカウントをお持ちでない方はこちら
      =link_to new_user_registration_path do
        .user_registration__main__form__contents__submit__btn--blue 新規会員登録
    = form_for(resource, as: resource_name, url: session_path(resource_name),html: {class: 'user_registration__main__form__contents'}) do |f|
      = render "devise/shared/error_messages", resource: resource
      .user_registration__main__form__contents__field--login
        = f.email_field :email, autocomplete: "email", placeholder: "メールアドレス", class:"user_registration__main__form__contents__field__input--one"
      .user_registration__main__form__contents__field--login
        = f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class:"user_registration__main__form__contents__field__input--one"
      -# 機能実装後は以下のlink_toメソッドは削除します。
      .user_registration__main__form__contents__submit
        =link_to users_complete_path do 
          = f.submit "ログイン",class:"user_registration__main__form__contents__submit__btn"  
%footer.user_registration__footer
  .user_registration__footer__contents
