= render "layouts/header"

.buy
  .buy__in
    .buy__in--first 購入が完了しました
    .buy-second
      .buy-second__in
        .buy-second__in--in
          .buy-second__in--in--leftbox
            = link_to root_path, class: "#" do
              = image_tag("https://static.mercdn.net/thumb/photos/m30294423968_1.jpg?1582860480" , width: "80px;")
          .buy-second__in-in--rightbox
            %p.buy-second__in--in--rightbox-top  ヴィトン 20××年製 美品！ 長財布
            %p.buy-second__in--in--rightbox-bottom
              %span ¥50,000
              %span{"class": ".big-second__in-in--rightbox-bottom-right"}（税込）送料込み
    %section.buybuycontents
      .buybuycontents__in
        %form
          %ul.buy-third
            %li.buy-third__in
              .buy-third__in--left  金額
              .buy-third__in--right
                %span{data: '50,000'}¥50,000
          %section.back-btn{data: 'pay-method'}
            .back-btn__in
              %button.btn{name: "button", type: "submit"}
                = link_to "トップページに戻る", root_path, class: "btn-color"
= render "layouts/footer"
= render "layouts/exhibition-box"
