= render "layouts/header"
.mypage
  = render "layouts/side-bar"
  .mypage__contents
    .mypage__contents--top
      #{current_user.nickname} さんのマイページ
    .mypage__contents--main
      .mypage__contents--main__title
        クレジットカード
      .credit-box
        -# .credit-box__item
        -#   = icon('far', 'credit-card', class: "credit-box__item__icon")
        -# .credit-box__item
        -#   .credit-box__item__number
        -#     ************0000
        -#   .credit-box__item__date
        -#     04 / 20
        -# .credit-box__item
        -#   = link_to "削除する", "#", class: "credit-box__item--delete"

        = link_to new_user_payment_path, class: "credit-box__add-btn" do
          = icon('far', 'credit-card')
          クレジットカードを追加する

        -# クレジットカードとユーザーは一対一の関係になっていて
        -# 複数のカードを登録できない。
        -# .credit-box__itemと.credit-box__add-btnは
        -# ifで分岐させてどちらか一方のみを表示させる。

= render "layouts/footer"

= render "layouts/exhibition-box"