= render "layouts/header"
.mypage
  = render "layouts/side-bar"
  .mypage__contents
    .mypage__contents--top
      #{current_user.nickname} さんのマイページ
    .mypage__contents--main
      .mypage__contents--main__title
        クレジットカードの追加
      .credit-registration
        = form_with model: @payment, id: 'charge-form', value: "1", url: user_payments_path, local:true, html: { name: 'inputForm' } do |f|
          .credit-registration__item
            = f.label :カード番号, class: 'label'
            %span.credit-registration__item--required
              必須
            = f.text_field :card_number, class: "credit-registration__item__card-number", placeholder: "半角英数字のみ"
            %ul.signup-card-list
              %li
                = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?238737266",width:"49px",height:"20px", class: "card"
              %li
                = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?238737266",width:"34px",height:"20px", class: "card"
              %li
                = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?238737266",width:"30px",height:"20px", class: "card"
              %li
                = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?238737266",width:"32px",height:"20px", class: "card"
              %li
                = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?238737266",width:"21px",height:"20px", class: "card"
              %li
                = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?238737266",width:"32px",height:"20px", class: "card"
              %li
                = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?238737266",width:"32px",height:"20px", class: "card"
              %br
          .credit-registration__item
            = f.label :有効期限, class: 'label'
            %span.credit-registration__item--required
              必須
              %br
            = f.select :expiration_data_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]], {}, class: 'credit-registration__item__month'
            %span.credit-registration__item__text
              月
            = f.select :expiration_data_year, [["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]], {}, class: 'credit-registration__item__year'
            %span.credit-registration__item__text
              年
          .credit-registration__item
            = f.label :セキュリティコード, class: 'label'
            %span.credit-registration__item--required
              必須
              %br
            = f.text_field :cecurity_code, type: 'text', class: 'credit-registration__item__card-number', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4", id: "security_code"
            = f.submit '登録', id: 'token_submit', class: 'credit-registration__item__card-number'

= render "layouts/footer"

= render "layouts/exhibition-box"