= render "layouts/header"
.mypage
  = render "layouts/side-bar"
  .mypage__contents
    .mypage__contents--top
      #{current_user.nickname} さんのマイページ
    .mypage__contents--main
      .mypage__contents--main__title
        クレジットカードの追加
      .credit-registration
        .credit-registration__item
          カード番号
          %span.credit-registration__item--required
            必須
            %br
          %input.credit-registration__item__card-number{type: "text", placeholder: "半角数字のみ"}
        .credit-registration__item
          有効期限
          %span.credit-registration__item--required
            必須
            %br
          %select.credit-registration__item__month
            %option{value: "1"}01
            %option{value: "2"}02
            %option{value: "3"}03
            %option{value: "4"}04
            %option{value: "5"}05
            %option{value: "6"}06
            %option{value: "7"}07
            %option{value: "8"}08
            %option{value: "9"}09
            %option{value: "10"}10
            %option{value: "11"}11
            %option{value: "12"}12
          %span.credit-registration__item__text
            月
          %select.credit-registration__item__year
            %option{value: "20"}20
            %option{value: "21"}21
            %option{value: "22"}22
            %option{value: "23"}23
            %option{value: "24"}24
            %option{value: "25"}25
            %option{value: "26"}26
            %option{value: "27"}27
            %option{value: "28"}28
            %option{value: "29"}29
            %option{value: "30"}30
          %span.credit-registration__item__text
            年
        .credit-registration__item
          セキュリティコード
          %span.credit-registration__item--required
            必須
            %br
          %input.credit-registration__item__card-number{type: "text", placeholder: "カード背面4桁もしくは3桁の番号"}
        %input.credit-registration__add-btn{type: "submit", value: "追加する"}

= render "layouts/footer"

= render "layouts/exhibition-box"