= render "layouts/header"
.goods-list
  .goods-list__categories
    - if @category.has_children?
      - @category.children.each do |child|
        .goods-list__categories__link
          = link_to  "/goods/category/#{child.id}" do
            = child.name
    - else
      - @category.parent.children.each do |child|
        .goods-list__categories__link
          = link_to  "/goods/category/#{child.id}" do
            = child.name
  .goods-list__title--categories
    .goods-list__title--black 
      #{@category.name} の商品一覧
  .goods-list__contents
    = render partial: "goods/good", collection: @goods

= render "layouts/footer"

= render "layouts/exhibition-box"