.body
  = render "layouts/header"
  .sub
    %ul.sub-main
      %li.sub-main__categories
        = link_to "FURIMA", "#" 
      %li.sub-main__icon
        %i.fa.fa-angle-right
      %li.sub-main__categories
        = link_to "ベビー・キッズ", "#"
      %li.sub-main__icon
        %i.fa.fa-angle-right
      %li.sub-main__categories
        = link_to "ベビー服(男女兼用) ~95cm", "#"
      %li.sub-main__icon
        %i.fa.fa-angle-right 
      %li.sub-main__categories
        = link_to "アウター", "#"
      %li.sub-main__icon
        %i.fa.fa-angle-right 
      %p.sub-main__categories--name
        product３

  .main
    .main__show
      .main-content
        .main-content__top
          .goodsbox
            %h2.goodsbox__name
              product3
            .picture
              %ul.picture__main
                %li.picture__main--top
                  = image_tag @good.images.first.image.url , alt: "sample_01", class: "goods-content__image--url"
                  %img{alt: "sample_01", src: "#{asset_path "sample/sample_01.jpg"}", width: "100%" , height: "346px"}/
                  %ul.box-picture
                    %li.box-picture__left
                    %img{alt: "sample_01", src: "#{asset_path "sample/sample_01.jpg"}", width: "32%" , height: "87px"}/
                    %li.box-picture__middle
                    %img{alt: "sample_02", src: "#{asset_path "sample/sample_02.jpg"}", width: "32%" , height: "87px"}/
                    %li.box-picture__right
                    %img{alt: "sample_03", src: "#{asset_path "sample/sample_03.jpg"}", width: "32%" , height: "87px"}/
            .goodsbox__price
              %span.goodsbox__price--money ¥30000
              .goodsbox__price--in
                %span.goodsbox__price--in--taxincluded (税込)
                %span.goodsbox__price--in--postageincluded 送料込み
                = link_to "購入画面に進む", "1/parchase", class: "item-buy-btn"
            .goods--detail
              親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の
              二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をし
              たと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を
              出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降
              りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰
              って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
            .table
              .table__body
                %table.table__body--box
                  %tr.table__body--box--line
                    %th.table__body--box--line--headline 出品者
                    %td.table__body--box--line--item hoge
                  %tr.table__body--box--line
                    %th.table__body--box--line--headline カテゴリー
                    %td.table__body--box--line--item
                      = link_to "ベビー・キッズ", "#", class: "table__body--box--line--item--color"
                      %br/
                      = link_to "ベビー服(男女兼用) ~95cm", "#", class: "table__body--box--line--item--color"
                      %br/
                      = link_to "アウター", "#", class: "table__body--box--line--item--color"
                  %tr.table__body--box--line
                    %th.table__body--box--line--headline ブランド
                    %td.table__body--box--line--item
                  %tr.table__body--box--line
                    %th.table__body--box--line--headline 商品の状態
                    %td.table__body--box--line--item 未使用に近い
                  %tr.table__body--box--line
                    %th.table__body--box--line--headline 配送料の負担
                    %td.table__body--box--line--item 送料込み(出品者負担)
                  %tr.table__body--box--line
                    %th.table__body--box--line--headline 発送元の地域
                    %td.table__body--box--line--item
                      = link_to "岩手県", "#", class: "table__body--box--line--item--color"
                  %tr.table__body--box--line
                    %th.table__body--box--line--headline 発送日の目安
                    %td.table__body--box--line--item 4~7日で発送
            .option-area
              %ul.option-area__left
                %li.option-area__left--button
                  %i.fa.fa-star お気に入り　０
              %ul.option-area__right
                %li.option-area__right--button
                  = link_to "#", class: "flag" do
                    %i.fa.fa-flag 
                    不適切な商品の通報
            - if user_signed_in?
              .exhibitor-box
                = link_to "商品を編集する", good_path(@good.id), method: :get, class: "exhibitor-box__update"
                = link_to "商品を削除する", good_path(@good.id), method: :delete, class: "exhibitor-box__delete", data: {confirm: "本当に削除しますか?"}
          .commentbox
            %form
              %textarea.comment
              %p.caution
                相手のことを考え丁寧なコメントを心がけましょう。
                %br/
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br/
              %button.btn{name: "button", type: "submit"}
                %i.fa.fa-comment
                コメントする
        %ul.links
          %li.links__left
            = link_to "#", class: "links__left--link" do
              %i.fa.fa-angle-left
              前の商品
          %li.links__right
            = link_to "#", class: "links__right--link" do
              %i.fa.fa-angle-right
              後の商品
        .more-item
          = link_to "ベビー・キッズをもっと見る", "#", class: "more-item__link"
  
  = render "layouts/footer"
  
  = link_to new_good_path, class: "boxbody" do
    .boxbody__text
      出品する
    = image_tag "icon/icon_camera.png", alt: "camera-icon", class: "boxbody__image"