= render "layouts/header"

.sub
  %ul.sub-main
    %li.sub-main__categories
      = link_to "FURIMA", "#" 
    %li.sub-main__icon
      %i.fa.fa-angle-right
    %li.sub-main__categories
      = link_to "ベビー・キッズ", "#"
    %li.sub-main__icon
      %i.fa.fa-angle-right
    %li.sub-main__categories
      = link_to "ベビー服(男女兼用) ~95cm", "#"
    %li.sub-main__icon
      %i.fa.fa-angle-right 
    %li.sub-main__categories
      = link_to "アウター", "#"
    %li.sub-main__icon
      %i.fa.fa-angle-right 
    %p.sub-main__categories
      product３

.main
  .showmain
    .content
      .topcontent
        .goodsbox
          %h2.goodsbox__name
            product3
          .boxbody
            %ul.boxbody__picture
              %li.boxbody__second--picture
                = image_tag "sample/sample_01", alt: "sample_01", width: "10%"
              %li.boxbody__thirtht--picture
                = image_tag "sample/sample_02", alt: "sample_02", width: "10%"
              %li.boxbody__fourth--picture
                = image_tag "sample/sample_03", alt: "sample_03", width: "10%"
          .goodsbox__price
            %span
            ¥30000
            .goodsbox__price--tax
              %span
              税込
              %span
              送料込み
          .goods--detail
            親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の
            二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をし
            たと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を
            出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降
            りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰
            って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
