.body
  = render "layouts/header"
  .sub
    %ul.sub-main
      %li.sub-main__categories
        = link_to "FURIMA" ,root_path
      %li.sub-main__icon
        %i.fa.fa-angle-right
      %li.sub-main__categories
        = link_to @good.category.parent.parent.name , goods_path(@good.category.root.id)
      %li.sub-main__icon
        %i.fa.fa-angle-right
      %li.sub-main__categories
        = link_to @good.category.parent.name , goods_path(@good.category.root.id)
      %li.sub-main__icon
        %i.fa.fa-angle-right 
      %li.sub-main__categories
        = link_to  @good.category.name , goods_path(@good.category.root.id)
      %li.sub-main__icon
        %i.fa.fa-angle-right 
      %p.sub-main__categories--name
        =@good.name
  .main
    .main__show
      .main-content
        .main-content__top
          .goodsbox
            %h2.goodsbox__name
              =@good.name
            .picture
              .picture__main
                .picture__main--top
                  = image_tag @good.images.first.image.url , alt: "sample_01", class: "goods-content__image--url"
              .picture-sub
                - @images.each do |image|
                  .picturesub--one
                    .picturesub--one__second
                      = image_tag image.image.url, class: "sub_img", width: "200px",  height: "200px"
            .goodsbox__price
              %span.goodsbox__price--money 
                =@good.price
              .goodsbox__price--in
                %span.goodsbox__price--in--taxincluded (税込)
                %span.goodsbox__price--in--postageincluded 送料込み
                = link_to "購入画面に進む", "1/parchase", class: "item-buy-btn"
            .goods--detail
              =@good.explanation
            .table
              .table__body
                %table.table__body--box
                  %tr.table__body--box--line
                    %th.table__body--box--line--headline 出品者
                    %td.table__body--box--line--item 
                      =@good.user.nickname
                  %tr.table__body--box--line
                    %th.table__body--box--line--headline カテゴリー
                    %td.table__body--box--line--item
                      = link_to @good.category.parent.parent.name ,  "/goods/category/#{@good.category.parent.parent.id}" , class: "table__body--box--line--item--color"
                      %br/
                      = link_to @good.category.parent.name , "/goods/category/#{@good.category.parent.id}" , class: "table__body--box--line--item--color"
                      %br/
                      = link_to  @good.category.name , "/goods/category/#{@good.category.id}" , class: "table__body--box--line--item--color"
                  %tr.table__body--box--line
                    %th.table__body--box--line--headline ブランド
                    %td.table__body--box--line--item
                      =@good.brand
                  %tr.table__body--box--line
                    %th.table__body--box--line--headline 商品の状態
                    %td.table__body--box--line--item
                      =@good.condition.name
                  %tr.table__body--box--line
                    %th.table__body--box--line--headline 配送料の負担
                    %td.table__body--box--line--item
                      =@good.derivery_cost.name
                  %tr.table__body--box--line
                    %th.table__body--box--line--headline 発送元の地域
                    %td.table__body--box--line--item
                      =@good.prefecture.name
                  %tr.table__body--box--line
                    %th.table__body--box--line--headline 発送日の目安
                    %td.table__body--box--line--item
                      =@good.derivery_day.name
            .option-area
              %ul.option-area__left
                %li.option-area__left--button
                  %i.fa.fa-star お気に入り　０
              %ul.option-area__right
                %li.option-area__right--button
                  = link_to "#", class: "flag" do
                    %i.fa.fa-flag 
                    不適切な商品の通報
          - if user_signed_in? && current_user.id == @good.user_id
            .exhibitor-box
              = link_to "商品を編集する", edit_good_path(@good.id), class: "exhibitor-box__update"
              = link_to "商品を削除する", good_path(@good.id), method: :delete, class: "exhibitor-box__delete", data: {confirm: "本当に削除しますか?"}
          .commentbox
            %form
              %textarea.comment
              %p.caution
                相手のことを考え丁寧なコメントを心がけましょう。
                %br/
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br/
              %button.btn{name: "button", type: "submit"}
                %i.fa.fa-comment
                コメントする
        %ul.links
          %li.links__left
            = link_to "#", class: "links__left--link" do
              -# %i.fa.fa-angle-left
              -# 前の商品
          %li.links__right
            = link_to "#", class: "links__right--link" do
              -# %i.fa.fa-angle-right
              -# 後の商品
        .more-item
          -# = link_to "ベビー・キッズをもっと見る", "#", class: "more-item__link"
  = render "layouts/footer"
  = link_to new_good_path, class: "boxbody" do
    .boxbody__text
      出品する
    = image_tag "icon/icon_camera.png", alt: "camera-icon", class: "boxbody__image"