= render "layouts/header"

.sub
  %ul.sub-main
    %li.sub-main__categories
      = link_to "FURIMA", "#" 
    %li.sub-main__icon
      %i.fa.fa-angle-right
    %li.sub-main__categories
      = link_to "ベビー・キッズ", "#"
    %li.sub-main__icon
      %i.fa.fa-angle-right
    %li.sub-main__categories
      = link_to "ベビー服(男女兼用) ~95cm", "#"
    %li.sub-main__icon
      %i.fa.fa-angle-right 
    %li.sub-main__categories
      = link_to "アウター", "#"
    %li.sub-main__icon
      %i.fa.fa-angle-right 
    %p.sub-main__categories
      product３

.main
  .showmain
    .content
      .topcontent
        .goodsbox
          %h2.goodsbox__name
            product3
          .boxbody
            %ul.boxbody__picture
              %li.boxbody__secondpicture
              %li.boxbody__thirthtpicture
              %li.boxbody__fourthpicture
          .goodsbox__price