.side-bar
  .side-list
    .side-list__item
      .side-list__item--top
        マイページ
    .side-list__item
      = link_to "お知らせ", "#", class: "side-list__item--link"
    .side-list__item
      = link_to "いいね！一覧", user_likes_path(current_user), class: "side-list__item--link"
    .side-list__item
      = link_to "出品する", "#", class: "side-list__item--link"
    .side-list__item
      = link_to "出品した商品", "#", class: "side-list__item--link"
    .side-list__item
      = link_to "購入した商品", "#", class: "side-list__item--link"
    .side-list__item
      = link_to "売上", "#", class: "side-list__item--link"
  .side-list
    .side-list__item
      .side-list__item--top
        設定
    .side-list__item
      = link_to "本人情報", "#", class: "side-list__item--link"
    .side-list__item
      = link_to "クレジットカード", user_payments_path(current_user), class: "side-list__item--link"
    .side-list__item
      = link_to "ログアウト", users_logout_path, class: "side-list__item--link"